@import url(/CP4-Front-EcoTrend/src/css/style.css);

/* Estilo da navbar */
.navbar-custom {
    background-color: rgb(0, 77, 0);
}

.navbar-custom .nav-link {
    color: #fff !important;
    transition: 0.3s;
}

.navbar-custom .nav-link:hover {
    color: #d8f3dc !important;
}

/* Card de contato */
.card {
    border-radius: 12px;
    background-color: #ffffff;
}

.card h2 {
    color: rgb(0, 77, 0);
    font-weight: bold;
}

/* Formulário */
form button {
    background-color: rgb(0, 77, 0);
    border: none;
    font-weight: bold;
}

form button:hover {
    background-color: rgb(17, 51, 37);
}

/* Campos do formulário com destaque */
form input:focus,
form textarea:focus {
    border-color: rgb(0, 77, 0);
    box-shadow: 0 0 5px rgba(25, 66, 48, 0.4)
}

/* Caixa de informações */
.info-box {
    background-color: #f1fdf3;
    border-left: 5px solid rgb(0, 77, 0);
    border-radius: 8px;
}

/* Footer */
footer {
    font-size: 14px;
}
