@import url(/CP4-Front-EcoTrend/src/css/style.css);

.sidebar-header {
      background-color: rgb(0, 77, 0); 
      color: #fff;
    }
    .btn-eco {
      border-color: rgb(0, 77, 0);
      color: rgb(0, 77, 0);
    }
    .btn-eco:hover {
      background-color: rgb(0, 77, 0);
      color: #fff;
    }
